<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/custom.css">
    <title>DotaPRO</title>
</head>

<body background="../images/rsz_1aegis_background.jpg">
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
        <div class="container">
            <img class="navbar-brand mb-0" src="../images/DotaProLogo.png"></img>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSite">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-silver" href="#">Tournaments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-silver" href="#">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-silver" href="#">Players</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container transparente">
        <h1 class="pageTitle text-center">Teams</h1>
        <br>
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control col-4" placeholder="Team name" aria-label="Tournament name" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary bg-secondary text-white" type="button">Search</button>
            </div>
        </div>

        <section>
            <div class="col-xl-12">
                <table class="table table-striped table-dark">
                    <thead>
                        <th class="text-silver transparente col-xl-3">Team</th>
                        <th class="text-silver transparente col-xl-3">Region</th>
                        <th class="text-silver transparente col-xl-2">Win %</th>
                        <th class="text-silver transparente col-xl-2">KDA</th>
                        <th class="text-silver transparente col-xl-2">DPC Rank</th>
                    </thead>
                    <tbody class="bg-dark2">
                        <tr>
                            <td class="text-silver align-middle">
                                <img class="team_img_mini3" src="../images/Teams/Virtus_Pro.png"> Virtus.pro</td>
                            </td>
                            <td class="text-silver align-middle">
                                <img src="../images/Regions/Cis.gif"> CIS</td>
                            </td>
                            <td class="text-money align-middle">
                                <span>61.45%</span>
                            </td>
                            <td class="text-kda align-middle">
                                <span>3.52</span>
                            </td>
                            <td class="text-money align-middle">
                                <span>#1</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-silver align-middle">
                                <img class="team_img_mini3" src="../images/Teams/600px-Team_liquid_logo_2017.png"> Team Liquid</td>
                            </td>
                            <td class="text-silver align-middle">
                                <img src="../images/Regions/Eu.png"> Europe</td>
                            </td>
                            <td class="text-money align-middle">
                                <span>61.88%</span>
                            </td>
                            <td class="text-kda align-middle">
                                <span>3.39</span>
                            </td>
                            <td class="text-money align-middle">
                                <span>#2</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-silver align-middle">
                                <img class="team_img_mini3" src="../images/Teams/psg_LGD.png"> PSG.LGD</td>
                            </td>
                            <td class="text-silver align-middle">
                                <img src="../images/Regions/Cn.png"> China</td>
                            </td>
                            <td class="text-money align-middle">
                                <span>61.45%</span>
                            </td>
                            <td class="text-kda align-middle">
                                <span>3.52</span>
                            </td>
                            <td class="text-money align-middle">
                                <span>#3</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-silver align-middle">
                                <img class="team_img_mini3" src="../images/Teams/newbee_logo.png"> Newbee</td>
                            </td>
                            <td class="text-silver align-middle">
                                <img src="../images/Regions/Cn.png"> China</td>
                            </td>
                            <td class="text-money align-middle">
                                <span>61.45%</span>
                            </td>
                            <td class="text-kda align-middle">
                                <span>3.52</span>
                            </td>
                            <td class="text-money align-middle">
                                <span>#4</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-silver align-middle">
                                <img class="team_img_mini3" src="../images/Teams/VICI_Gaming.png"> Vici Gaming</td>
                            </td>
                            <td class="text-silver align-middle">
                                <img src="../images/Regions/Cn.png"> China</td>
                            </td>
                            <td class="text-money align-middle">
                                <span>61.45%</span>
                            </td>
                            <td class="text-kda align-middle">
                                <span>3.52</span>
                            </td>
                            <td class="text-money align-middle">
                                <span>#5</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-silver align-middle">
                                <img class="team_img_mini3 align-middle" src="../images/Teams/Secret_logo.png"> Team Secret</td>
                            </td>
                            <td class="text-silver align-middle">
                                <img src="../images/Regions/Eu.png"> Europe</td>
                            </td>
                            <td class="text-money align-middle">
                                <span>61.45%</span>
                            </td>
                            <td class="text-kda align-middle">
                                <span>3.52</span>
                            </td>
                            <td class="text-money align-middle">
                                <span>#6</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-silver align-middle">
                                <img class="team_img_mini3" src="../images/Teams/600px-VGJ.Thunder_logo_dark.png"> VGJ.Thunder</td>
                            </td>
                            <td class="text-silver align-middle">
                                <img src="../images/Regions/Cn.png">China</td>
                            </td>
                            <td class="text-money align-middle">
                                <span>61.45%</span>
                            </td>
                            <td class="text-kda align-middle">
                                <span>3.52</span>
                            </td>
                            <td class="text-money align-middle">
                                <span>#7</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-silver align-middle">
                                <img class="team_img_mini3" src="../images/Teams/Mineski.png"> Mineski</td>
                            </td>
                            <td class="text-silver align-middle" >
                                <img src="../images/Regions/Sea.png"> Southeast Asia</td>
                            </td>
                            <td class="text-money align-middle">
                                <span>61.45%</span>
                            </td>
                            <td class="text-kda align-middle">
                                <span>3.52</span>
                            </td>
                            <td class="text-money align-middle">
                                <span>#8</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </section>

    </div>

</body>

</html>